* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

html,
body h1,
h2,
h3,
h4,
h5 {
  font-family: "Volkhov", serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 9999 !important;
  background-color: white !important;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  height: 70px;
}
.nav-fixed h1 a {
  color: #000;
}
.nav-fixed nav .header_navbar i {
  color: #000;
}
.nav-fixed nav .header_navbar .header_menu a {
  color: #000;
}

/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header nav h1 a {
  text-decoration: none;
  position: relative;
  font-size: 32px;
  color: #fb811e;
  transition: 0.5s;
}
header nav h1 a i {
  position: absolute;
  top: -10%;
  left: 55px;
  font-size: 20px;
}
header nav h1:hover a {
  color: black;
}
.header_navbar .fa-search {
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 35px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.header_navbar .fa-moon {
  width: 40px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  cursor: pointer;
  color: white;
}
.header_navbar .fa-moon:hover {
  color: #fb811e;
}
.header_menu {
  line-height: 40px;
}
.header_menu a {
  font-size: 18px;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 600;
  color: white;
}
.header_menu .contact {
  color: #fb811e !important;
}
.header_menu a:hover {
  color: #fb811e;
}
/* end header */

/*start banner*/
.banner {
  background-image: url(/img/inner-banner.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.banner_title {
  font-weight: 700 !important;
}
.banner_detail {
  line-height: 1.5;
}
.banner_detail a {
  text-decoration: none;
  font-size: 15px;
  color: #707070;
  font-weight: bold;
}
/*end banner*/

/*start conatct*/
.contact .contact_content {
  max-width: 1000px;
}
.contact .contact_content .row {
  margin-right: -15px;
  margin-left: -15px;
}
.contact .contact_content .row .contact_left h5 {
  color: #fb811e;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}
.contact .contact_content .row .contact_left h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
.contact
  .contact_content
  .row
  .contact_left
  .contact_detail
  .contact_item
  .contact_icon {
  margin-right: 1rem;
}
.contact
  .contact_content
  .row
  .contact_left
  .contact_detail
  .contact_item
  .contact_icon
  span {
  color: #fb811e;
  font-size: 20px;
  line-height: 0;
}
.contact
  .contact_content
  .row
  .contact_left
  .contact_detail
  .contact_item
  .contact_icon
  .fa-phone::before {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.contact
  .contact_content
  .row
  .contact_left
  .contact_detail
  .contact_item
  .contact_address
  h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 8px;
  color: black;
  font-family: "Volkhov", serif;
}
.contact
  .contact_content
  .row
  .contact_left
  .contact_detail
  .contact_item
  .contact_address
  p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.contact
  .contact_content
  .row
  .contact_left
  .contact_detail
  .contact_item
  .contact_address
  p
  a {
  text-decoration: none;
  color: #707070;
}
.contact
  .contact_content
  .row
  .contact_left
  .contact_detail
  .contact_item
  .contact_address
  p:hover
  a {
  color: #fb811e;
  transition: 0.5s;
}
.contact .contact_content .row .contact_right form input {
  width: 100%;
  background: white;
  font-size: 15px;
  padding: 14px;
  margin-bottom: 16px;
  line-height: 1.5;
  border: 1px solid #eee;
}
.contact .contact_content .row .contact_right form input:focus-visible {
  outline: none;
  border: 1px solid #fb811e;
}

.contact .contact_content .row .contact_right form .message_input textarea {
  height: 120px;
  margin: 0 0 20px 0;
  width: 100%;
  color: black;
  background: white;
  font-size: 15px;
  padding: 14px;
  border: 1px solid #eee;
}
.contact
  .contact_content
  .row
  .contact_right
  form
  .message_input
  textarea:focus-visible {
  outline: none;
  border: 1px solid #fb811e;
}
/*end contact*/

/* start footer */
footer {
  color: #807779;
}
footer h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}

.footer__contact .mt-3 a {
  color: #807779;
  text-decoration: none;
}

.footer__contact .mt-3 a:hover {
  color: #fb811e;
}

.footer__logo .logo {
  text-decoration: none;
  font-size: 32px;
  position: relative;
  color: #fb811e;
  transition: 0.5s;
}

.footer__logo .logo i {
  position: absolute;
  top: -3px;
  left: 54px;
  font-size: 20px;
}

.footer__logo .logo:hover {
  color: black;
}

.copy__rights a {
  color: #009f4d;
  text-decoration: none;
}

.copy__rights a:hover {
  color: #fb811e;
}

.subscribe__input input {
  background: #f4f4f4;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  width: 80%;
  border-radius: 30px 0px 0px 30px;
}

.subscribe__input button {
  background: #009f4d;
  border: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
  transition: 0.5s;
}

.subscribe__input button:hover {
  background: #33b271;
}

.footer__social li {
  display: inline;
  list-style: none;
}

.footer__social li {
  margin-right: 5px;
}

.footer__social li a i {
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: #009f4d;
  transition: 0.5s;
}

.footer__social li a i:hover {
  background-color: #fff5dc;
  color: #fb811e;
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
/* end footer */

/* back to top */
.btt {
  width: 40px;
  height: 40px;
  display: flex;
  position: fixed;
  right: 15px;
  bottom: 96px;
  opacity: 0;
  border-radius: 4px;
  background-color: #009f4d;
  color: #fff;
  transition: all 0.5s;
  z-index: 10;
}
.btt:hover {
  opacity: 0.8;
}
.btt i {
  font-size: 15px;
  display: block;
  margin: auto;
  color: #fff;
}
.cd-top--is-visible {
  opacity: 1;
}

/*start responsive*/
/*mobile*/
@media screen and (max-width: 576px) {
  header {
    height: auto;
    padding: 17px 0;
  }
  .header_menu {
    display: grid;
    line-height: 30px;
  }
  .nav-fixed {
    height: auto;
    padding: 15px 0;
    transition: 1s;
  }
  .nav-fixed .header_navbar .fa-search {
    line-height: 40px;
    transition: 1s;
  }
  .nav-fixed .header_menu .contact {
    display: block !important;
    font-size: 20px;
    line-height: 40px;
    transition: 1s;
  }
  .nav-fixed .header_menu a {
    display: none;
    transition: 1s;
  }
  .banner-left {
    position: absolute;
    z-index: 5;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    width: 90%;
    left: 5%;
  }
  .banner-left-content {
    position: relative;
  }
  .farm-text {
    position: absolute;
    top: 0;
  }
  .banner-left-content h2 {
    font-size: 80px;
  }
  .banner-detail h3 {
    font-size: 32px;
    line-height: 42px;
  }
  .banner-detail p {
    font-size: 17px;
  }
  .banner-detail {
    margin-top: 13%;
  }
  .client_content .container .owl-carousel .client_item .client_right p {
    font-size: 17px;
  }
  .client_content .container .owl-carousel .client_item .client_right span {
    margin-left: 50%;
  }
  .owl-theme .owl-dots {
    left: 45%;
    bottom: -40px;
  }
  .service_content .card .card-header img {
    margin-top: 0 !important;
  }
}

/*tablet*/
@media screen and (max-width: 991px) {
  header {
    height: auto;
    padding: 17px 0;
  }
  .header_menu {
    display: grid;
    line-height: 30px;
  }
  .nav-fixed {
    height: auto;
    padding: 15px 0;
    transition: 1s;
  }
  .nav-fixed .header_navbar .fa-search {
    line-height: 40px;
    transition: 1s;
  }
  .nav-fixed .header_menu .contact {
    display: block !important;
    font-size: 20px;
    line-height: 40px;
    transition: 1s;
  }
  .nav-fixed .header_menu a {
    display: none;
    transition: 1s;
  }
  .service_content .card .card-header img {
    margin-top: 20px;
  }
}
