* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

html,
body h1,
h2,
h3,
h4,
h5 {
  font-family: "Volkhov", serif;
}

/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header nav h1 a {
  text-decoration: none;
  position: relative;
  font-size: 32px;
  color: #fb811e;
  transition: 0.5s;
}
header nav h1 a i {
  position: absolute;
  top: -10%;
  left: 55px;
  font-size: 20px;
}
header nav h1:hover a {
  color: black;
}
.header_navbar .fa-search {
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.header_navbar .fa-moon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}
.header_navbar .fa-moon:hover {
  color: #fb811e;
}
.header_menu {
  line-height: 40px;
}
.header_menu a {
  font-size: 18px;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 600;
  color: white;
}
.header_menu .services {
  color: #fb811e;
}
.header_menu a:hover {
  color: #fb811e;
}
/* end header */

/*start banner*/
.banner.row {
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.banner-content {
  margin-left: 8%;
  position: absolute;
  z-index: 10;
}
.banner-left-content {
  padding-bottom: 300px;
}
.banner-left-content h2 {
  font-size: 100px;
  color: #f4f4f4;
  font-weight: bold;
  margin-left: -3rem;
}
.farm-text {
  position: absolute;
  z-index: -1;
  top: -20%;
}
.banner-detail h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  color: black;
}
.banner-detail p {
  font-size: 20px;
  color: #707070;
}
.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.btn-style:hover {
  background: #009f4d;
  color: white;
}
.banner-right .carousel-inner .carousel-item img {
  height: 100vh;
  width: 100%;
  border-bottom-left-radius: 20px;
  object-fit: cover;
}
.banner-right .carousel-inner .carousel-item .carousel-caption {
  color: white;
  text-align: right;
  position: absolute;
  right: 10px;
}
.carousel-indicators [data-bs-target] {
  width: 0;
  height: 0;
  padding: 7px;
  background-color: #fb811e !important;
  border-radius: 50%;
  margin: 0 8px;
}
/*end banner*/

/*start feature*/
.feature-left {
 
}
.feature-left h5 {
  color: #fb811e;
  font-size: 22px;
}
.feature-left h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: black;
}
.feature-left p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.feature-left a {
  margin-top: 3rem;
}
.feature-rigth-content {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.feature-rigth-item {
  text-align: center;
  padding: 40px 30px;
  border-radius: 30px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  background-color: white;
}
.feature-rigth-item:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.feature-rigth-item .icon img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.feature-rigth-item h4 a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: black !important;
}
.feature-rigth-item h4 a {
  text-decoration: none;
}
/*end feature*/
